.note_card {
  width: 150px;
  height: 220px;
  background: #fee19b;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 24px;
  border-radius: 6px;
  margin-top: 24px;
  transform: rotate(4deg);
  gap: 16px;
}

.hero_text {
  color: #ffc862;
  font-weight: 700;
  line-height: 1.2;
  transform: rotate3d(4, 1, -2, 25deg);
  z-index: 1;
  font-size: 48px;
}

.hero_img_md {
  position: absolute;
  right: 30%;
  top: 3%;
  width: auto;
  height: 140px;
}

.hero_img_sm {
  position: absolute;
  right: 10%;
  top: 8%;
  transform: scaleX(-1) rotate(-15deg);
  width: auto;
  height: 90px;
}

.handwriting_text {
  font-family: var(--font-caveat);
  color: var(--mantine-primary-color-7);
  font-weight: 700;
  line-height: 1.2;
  font-size: 20px;
}

@media (min-width: $mantine-breakpoint-sm) {
  .note_card {
    width: 240px;
    height: 300px;
  }
  .hero_text {
    font-size: 56px;
  }
  .hero_img_sm {
    height: 140px;
    top: 12%;
  }
  .hero_img_md {
    height: 240px;
  }
  .handwriting_text {
    font-size: 32px;
  }
}

@media (min-width: $mantine-breakpoint-md) {
  .hero_text {
    font-size: 72px;
  }
  .hero_img_sm {
    height: 200px;
    top: 15%;
  }
  .hero_img_md {
    height: 300px;
  }
}
@media (min-width: $mantine-breakpoint-lg) {
  .hero_img_sm {
    right: 12%;
  }
}
